# HARPREET KAUR (DS2306)

In [90]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\pc\anaconda3\lib\site-packages (4.10.0)

In [91]:
import selenium 
from selenium import webdriver

Requirement already satisfied: certifi>=2021.10.8 in c:\users\pc\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\pc\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\pc\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\pc\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: idna in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sniffio in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: attrs>=20.1.0 in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\pc\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\pc\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\pc\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\pc\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [92]:
import pandas as pd

In [102]:
from selenium.webdriver.common.by import By

In [94]:
import warnings

In [95]:
warnings.filterwarnings("ignore")

In [96]:
import time

In [97]:
from selenium import webdriver

In [109]:
driver = webdriver.Chrome()
driver.get("https://www.shine.com/")

In [110]:
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys("Data Analyst")

In [111]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Banglore")

In [112]:
search_jobs=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search_jobs.click()

In [49]:
job_title=[]
title_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_features__wJid6"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [38]:
job_location=[]
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [115]:
company_name=[]
name_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for j in name_tags[0:10]:
    c_name=j.text
    company_name.append(c_name)

In [117]:
print(len(company_name))

10

In [120]:
experience=[]
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for k in experience_tags[0:10]:
    exp=k.text
    experience.append(exp)

In [121]:
import pandas as pd
df=pd.DataFrame({'Title':job_title, 'Location':job_location,'Company_name':company_name, 'Expeience':experience})
df

,Title,Location,Company_name,Expeience
0,Premium\n1 week ago,Bangalore,quess corp (magna infotech),2 to 5 Yrs
1,4 days ago,Gurugram\n+7,subhadra jobs consultancy hiring fo...,1 to 6 Yrs
2,2 weeks ago,Gurugram\n+1,quiscon biotech,0 to 2 Yrs
3,2 weeks ago,Bangalore,ara resources private limited,5 to 8 Yrs
4,Premium\n2 weeks ago,Mumbai City\n+6,amazon,1 to 3 Yrs
5,Hot\n1 day ago,Gurugram\n+4,acura solutions.,4 to 6 Yrs
6,3 weeks ago,Bangalore,fidelity national information servi...,6 to 10 Yrs
7,Premium\n3 weeks ago,Bangalore,mercede,2 to 5 Yrs
8,3 weeks ago,Bangalore,radiometer india,4 to 6 Yrs
9,3 weeks ago,Mumbai City\n+9,radiometer india,8 to 10 Yrs

In [40]:
print(len(job_title),len(job_location))

10 10

# 2. Data scientist

In [84]:
driver = webdriver.Chrome()
driver.get("https://www.shine.com/")

In [85]:
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys("Data Scientist ")

In [86]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Banglore")

In [87]:
search_jobs=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search_jobs.click()

In [104]:
job_title1=[]
title_tags1=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_features__wJid6"]')
for i in title_tags1[0:10]:
    title1=i.text
    job_title1.append(title1)

In [105]:
print(len(job_title1))

10

In [107]:
job_location1=[]
location_tags1=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags1[0:10]:
    location1=i.text
    job_location1.append(location1)

In [122]:
company_name1=[]
c_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for n in c_tags[0:10]:
    tags=n.text
    company_name1.append(tags)

In [123]:
import pandas as pd
df=pd.DataFrame({'Title':job_title1, 'Location':job_location1, 'Company_name':company_name1})
df

,Title,Location,Company_name
0,Hot\n1 day ago,Bangalore,quess corp (magna infotech)
1,5 days ago,Gurugram\n+7,subhadra jobs consultancy hiring fo...
2,4 days ago,Gurugram\n+1,quiscon biotech
3,Premium\n1 week ago,Bangalore,ara resources private limited
4,2 weeks ago,Mumbai City\n+6,amazon
5,3 weeks ago,Gurugram\n+4,acura solutions.
6,Premium\n3 weeks ago,Bangalore,fidelity national information servi...
7,3 weeks ago,Bangalore,mercede
8,Premium\n3 weeks ago,Bangalore,radiometer india
9,3 weeks ago,Mumbai City\n+9,radiometer india

# 3 scrap filters available in webpages